In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

import plotly.graph_objects as go
from plotly.subplots import make_subplots


import re

import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller
from datetime import datetime
from statsmodels.tsa.stattools import acf,pacf
from statsmodels.tsa.arima_model import ARIMA

import plotly.express as px

import warnings
warnings.filterwarnings("ignore")

In [101]:
dateparse = lambda dates: pd.datetime.strptime(dates,'%H:%M:%S')
trip1= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip1.CSV',parse_dates=['Time'],date_parser = dateparse)
trip2= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip2.CSV',parse_dates=['Time'],date_parser = dateparse)
trip3= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip3.CSV',parse_dates=['Time'],date_parser = dateparse)
trip5= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip5.CSV',parse_dates=['Time'],date_parser = dateparse)
trip6= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip6.CSV',parse_dates=['Time'],date_parser = dateparse)
trip7= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip7.CSV',parse_dates=['Time'],date_parser = dateparse)
trip8= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip8.CSV',parse_dates=['Time'],date_parser = dateparse)
trip9= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip9.CSV',parse_dates=['Time'],date_parser = dateparse)
trip10= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip10.CSV',parse_dates=['Time'],date_parser = dateparse)
trip11= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip11.CSV',parse_dates=['Time'],date_parser = dateparse)
trip12= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip12.CSV',parse_dates=['Time'],date_parser = dateparse)
trip13= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip13.CSV',parse_dates=['Time'],date_parser = dateparse)
trip14= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip14.CSV',parse_dates=['Time'],date_parser = dateparse)
trip15= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip15.CSV',parse_dates=['Time'],date_parser = dateparse)
trip16= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip16.CSV',parse_dates=['Time'],date_parser = dateparse)
trip17= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip17.CSV',parse_dates=['Time'],date_parser = dateparse)
trip18= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip18.CSV',parse_dates=['Time'],date_parser = dateparse)
trip19= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip19.CSV',parse_dates=['Time'],date_parser = dateparse)
trip20= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip20.CSV',parse_dates=['Time'],date_parser = dateparse)
trip21= pd.read_csv('https://raw.githubusercontent.com/monica-prakash/hiper-data/master/trip21.CSV',parse_dates=['Time'],date_parser = dateparse)

In [102]:
trip1.columns = map(str.lower,trip1.columns)
trip2.columns = map(str.lower,trip2.columns)
trip3.columns = map(str.lower,trip3.columns)
trip5.columns = map(str.lower,trip5.columns)
trip6.columns = map(str.lower,trip6.columns)
trip7.columns = map(str.lower,trip7.columns)
trip8.columns = map(str.lower,trip8.columns)
trip9.columns = map(str.lower,trip9.columns)
trip10.columns = map(str.lower,trip10.columns)
trip11.columns = map(str.lower,trip11.columns)
trip12.columns = map(str.lower,trip12.columns)
trip13.columns = map(str.lower,trip13.columns)
trip14.columns = map(str.lower,trip14.columns)
trip15.columns = map(str.lower,trip15.columns)
trip16.columns = map(str.lower,trip16.columns)
trip17.columns = map(str.lower,trip17.columns)
trip18.columns = map(str.lower,trip18.columns)
trip19.columns = map(str.lower,trip19.columns)
trip20.columns = map(str.lower,trip20.columns)
trip21.columns = map(str.lower,trip21.columns)

In [135]:
data_list  = [trip1,trip2,trip3,trip5,trip6,trip7,trip8,trip9,trip10,trip11,trip12,trip13,trip14,trip15,trip16,trip17,trip18,trip19,trip20,trip21]
column_list = ['rpm','fuel flow rate','rail pressure','maf','bat volt','engine load','iat']
decode_list = ['rpm','tps','fuel flow rate','engine load','rail pressure','map','baro','speed','ect','iat','maf','egr']

In [104]:
trip1['latitude'] = trip1['latitude'].fillna(0)
trip1['longitude'] = trip1['longitude'].fillna(0)

trip2['latitude'] = trip2['latitude'].fillna(0)
trip2['longitude'] = trip2['longitude'].fillna(0)

trip3['latitude'] = trip3['latitude'].fillna(0)
trip3['longitude'] = trip3['longitude'].fillna(0)

trip5['latitude'] = trip5['latitude'].fillna(0)
trip5['longitude'] = trip5['longitude'].fillna(0)
trip5['rpm'] = trip5['rpm'].fillna(0)

trip8['latitude'] = trip8['latitude'].fillna(0)
trip8['longitude'] = trip8['longitude'].fillna(0)
trip8['egr'] = trip8['egr'].fillna(0)
trip8['rpm'] = trip8['rpm'].fillna(0)

trip9['latitude'] = trip9['latitude'].fillna(0)
trip9['longitude'] = trip9['longitude'].fillna(0)

trip10['latitude'] = trip10['latitude'].fillna(0)
trip10['longitude'] = trip10['longitude'].fillna(0)

trip11['latitude'] = trip11['latitude'].fillna(0)
trip11['longitude'] = trip11['longitude'].fillna(0)
trip11['rpm'] = trip11['rpm'].fillna(0)

trip12['latitude'] = trip12['latitude'].fillna(0)
trip12['longitude'] = trip12['longitude'].fillna(0)
trip12['egr'] = trip12['egr'].fillna(0)
trip12['bat volt'] = trip12['bat volt'].fillna(0)

trip13['latitude'] = trip13['latitude'].fillna(0)
trip13['longitude'] = trip13['longitude'].fillna(0)

trip14['latitude'] = trip14['latitude'].fillna(0)
trip14['longitude'] = trip14['longitude'].fillna(0)

trip15['latitude'] = trip15['latitude'].fillna(0)
trip15['longitude'] = trip15['longitude'].fillna(0)

trip16['latitude'] = trip16['latitude'].fillna(0)
trip16['longitude'] = trip16['longitude'].fillna(0)

trip17['latitude'] = trip17['latitude'].fillna(0)
trip17['longitude'] = trip17['longitude'].fillna(0)

trip18['latitude'] = trip18['latitude'].fillna(0)
trip18['longitude'] = trip18['longitude'].fillna(0)

trip19['latitude'] = trip19['latitude'].fillna(0)
trip19['longitude'] = trip19['longitude'].fillna(0)

trip20['latitude'] = trip20['latitude'].fillna(0)
trip20['longitude'] = trip20['longitude'].fillna(0)



trip11['rpm'] = trip11['rpm'].fillna(0)

In [105]:
def remove_scientific(list1):
    temp = list1
    temp.replace('0.00E+00','0e00',inplace=True)
    return temp

In [106]:
for i in data_list:
    for j in column_list:
        i[j] = remove_scientific(i[j])

In [107]:
def decode_rpm(list1):
    temp = list1
    temp = [int(str(i),16)/4 for i in temp.values]
    return temp

def decode_tps_egr(list1):
    temp=list1
    temp = [int(str(i),16)*(100/255) for i in temp.values]
    return temp


def decode_ect_iat(list1):
    temp=list1
    temp = [int(str(i),16)-40 for i in temp.values]
    return temp

def decode_map_baro_speed(list1):
    temp=list1
    temp = [int(str(i),16) for i in temp.values]
    return temp

def decode_maf(list1):
    temp = list1
    temp = [int(str(i),16)/100 for i in temp.values]
    return temp

def decode_rail_pressure(list1):
    temp = list1
    temp = [int(str(i),16)*10 for i in temp.values]
    return temp

def decode_engine_load(list1):
    temp = list1
    temp = [int(str(i),16)/2.55 for i in temp.values]
    return temp

def decode_fuel(list1):
    temp = list1
    temp = [int(str(i),16)/20 for i in temp.values]
    return temp

In [108]:
for i in data_list:
    i['rpm'] = decode_rpm(i['rpm'])

In [109]:
for i in data_list:
    i['fuel flow rate'] = decode_fuel(i['fuel flow rate'])

In [110]:
for i in data_list:
    i['egr'] = decode_tps_fuel_egr(i['egr'])

In [111]:
for i in data_list:
    i['engine load'] = decode_engine_load(i['engine load'])

In [112]:
for i in data_list:
    i['rail pressure'] = decode_rail_pressure(i['rail pressure'])

In [113]:
for i in data_list:
    i['map'] = decode_map_baro_speed(i['map'])

In [114]:
for i in data_list:
    i['baro'] = decode_map_baro_speed(i['baro'])

In [115]:
for i in data_list:
    i['speed'] = decode_map_baro_speed(i['speed'])

In [116]:
for i in data_list:
    i['ect'] = decode_ect_iat(i['ect'])

In [117]:
for i in data_list:
    i['iat'] = decode_ect_iat(i['iat'])

In [118]:
for i in data_list:
    i['maf'] = decode_maf(i['maf'])

In [138]:
trip8.to_csv(r'C:\Users\monica prakash\Desktop\hiper data\trip8dataa.csv')

# Hiper Automotive Fuel Dependency Dashboard

# 1. Amount of fuel consumed at the end of each trip

In [120]:
def calculate_fuel(list1):
    temp = list1
    value = sum(temp.values)/3600
    return value

In [136]:
fuel_consumption = []
for i in data_list:
    fuel = calculate_fuel(i['fuel flow rate'])
    fuel_consumption.append(fuel)

In [141]:
fuel_consumption = [round(i,2) for i in fuel_consumption]

In [145]:
trip_name = ['trip1','trip2','trip3','trip5','trip6','trip7','trip8','trip9','trip10','trip11','trip12','trip13','trip14','trip15','trip16','trip17','trip18','trip19','trip20','trip21']

In [146]:
fuel_data = pd.DataFrame(list(zip(trip_name,fuel_consumption)),columns=['Trip','Fuel Consumed'])

In [147]:
fuel_data

      Trip  Fuel Consumed
0    trip1           5.52
1    trip2          11.75
2    trip3          19.99
3    trip5          32.99
4    trip6           3.05
5    trip7           5.09
6    trip8           1.26
7    trip9          10.88
8   trip10          10.87
9   trip11           2.46
10  trip12           2.70
11  trip13          26.65
12  trip14          10.94
13  trip15           1.41
14  trip16           5.79
15  trip17          26.65
16  trip18          10.94
17  trip19           1.41
18  trip20           5.79
19  trip21          32.15